.surface {
  border-radius: var(--surface-radius);
}

.canvas {
  background-color: var(--color-canvas);
}

.canvasRaised {
  background-color: var(--color-canvas-raised);
}

.canvasSunk {
  background-color: var(--color-canvas-sunk);
}

.none {
  box-shadow: var(--elevation-none);
}

.e1 {
  box-shadow: var(--elevation-e1);
}

.e2 {
  box-shadow: var(--elevation-e2);
}
